---
import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import { formatDate } from "@helpers/format-date";

export async function getStaticPaths() {
  const bicicosas = await getCollection("bicicosas");
  return bicicosas.map((cosa) => ({
    params: { id: cosa.id },
    props: { cosa },
  }));
}

const { cosa } = Astro.props;
const { Content } = await render(cosa);
---

<Layout>
  <article class="bicicosa">
    {
      cosa.data.thumbnail && (
        <Image
          class="thumbnail"
          width="400"
          height="400"
          src={cosa.data.thumbnail}
          alt="Imagen destacada"
        />
      )
    }
    {cosa.data.title && <h1>{cosa.data.title}</h1>}
    {cosa.data.date && <time>{formatDate(cosa.data.date, "readable")}</time>}
    <Content />
  </article>
</Layout>

<style is:global>
  article.bicicosa {
    margin: auto;
    max-width: 500px;
  }

  article.bicicosa > p {
    font-size: 1.3rem;
  }

  article.bicicosa > h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    padding: 0;
    margin: 1rem 0;
  }

  article.bicicosa img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  time {
    color: #ffffffc2;
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
  }

  strong {
    font-weight: 600;
  }

  .thumbnail {
    object-fit: cover;
    border-radius: 10px;
    width: 500px;
    max-height: 200px;
    margin-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
</style>
