---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const bicicosas = await getCollection("bicicosas");
import { Image } from "astro:assets";
import { formatDate } from "@helpers/format-date";
---

<Layout>
  <div class="posts-list">
    {
      bicicosas.map((cosa) => (
        <article>
          <a href={`bicicosas/${cosa.id}`}>
            <Image
              class="thumbnail"
              src={cosa.data.thumbnail}
              alt="Imagen destacada"
              width="300"
              height="200"
            />
            <h2>{cosa.data.title}</h2>
            {cosa.data.date && (
              <time>{formatDate(cosa.data.date, "readable")}</time>
            )}
            {cosa.data.description && <p>{cosa.data.description}</p>}
          </a>
        </article>
      ))
    }
  </div>
</Layout>

<style>
  .posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
  }

  .thumbnail {
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: #262949;
    display: block;
    padding: 1rem 1rem 1.5rem 1rem;
    border: 9px double #ff92ca;
    position: relative;
    background: white;
    border-radius: 15px;
  }

  a > h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
  }

  a > time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8rem;
    color: #ff92ca;
}
  }
</style>
