<footer>
  <p>Web hecha con Astro desde la verde y gris Torrelavega</p>
</footer>

<style>
  footer {
    text-align: center;
    font-family: sans-serif;
    padding: 1rem;
  }

  p {
    font-family: "Fredoka Variable";
  }
</style>
