---
import mikasukaImagotipo from "@assets/imagotipo.svg";
---

<header>
  <a href="/"><img width="50" src={mikasukaImagotipo.src} /></a>
  <ul>
    <li><a href="/bicicosas">Bicicosas</a></li>
  </ul>
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-height: 150px;
    max-width: 700px;
    min-height: 150px;
    width: 100%;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  ul > li > a {
    text-decoration: none;
    font-weight: 400;
    margin-left: 1rem;
  }

  ul > li > a:hover {
    color: #272a49;
  }
</style>
