---
import mikasukaLogo from "@assets/logo.svg";
---

<div>
  <img id="background" />
  <img
    id="logo"
    src={mikasukaLogo.src}
    width="auto"
    height="100"
    alt="Logotipo de Mikasuka: Bicicosas"
  />
  <section></section>
</div>

<style>
  #logo {
    width: 100%;
  }

  section p {
    line-height: 1.5rem;
  }

  @media screen and (max-height: 368px) {
  }
</style>
